<RUGRAT>
<noOfInterfaces>0</noOfInterfaces>
<useQueries>false</useQueries>
<maxNoOfMethodsPerInterface>0</maxNoOfMethodsPerInterface>
<noOfClasses>5</noOfClasses>
<maxAllowedMethodCalls>3</maxAllowedMethodCalls>
<maxValueForLoop>5</maxValueForLoop>
<injectFilename></injectFilename>
<password></password>
<allowIndirectRecursion>no</allowIndirectRecursion>
<maximumArraySize>2</maximumArraySize>
<dbName></dbName>
<doReachabilityMatrix>no</doReachabilityMatrix>
<noOfInheritanceChains>0</noOfInheritanceChains>
<probability>30</probability>
<maxNestedIfs>2</maxNestedIfs>
<minNoOfClassFields>0</minNoOfClassFields>
<allowArray>no</allowArray>
<maxInheritanceDepth>1</maxInheritanceDepth>
<maxNoOfParametersPerMethod>5</maxNoOfParametersPerMethod>
<minInheritanceDepth>0</minInheritanceDepth>
<dbDriver></dbDriver>
<totalLOC>50</totalLOC>
<maxInterfacesToImplement>1</maxInterfacesToImplement>
<maxRecursionDepth>1</maxRecursionDepth>
<dbUsername></dbUsername>
<classNamePrefix>TP</classNamePrefix>
<maxNoOfClassFields>0</maxNoOfClassFields>
<maxNoOfMethodsPerClass>5</maxNoOfMethodsPerClass>
<recursionProbability>0</recursionProbability>
<minNoOfParametersPerMethod>4</minNoOfParametersPerMethod>
<intMaxValue>50</intMaxValue>
<queryFilename></queryFilename>
<callType>MCO1_2</callType>
<allowedTypes>
	<type>int</type>
</allowedTypes>
</RUGRAT>